/* navber style and banner*/
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
#header{
    background-color: antiquewhite;
}
#btn{
    font-size: 15px;
    font-weight: 700;
    background-color: crimson;
    padding: 10px;
    border-radius: 15px;
}
#btn:hover{
    color: black;
    background-color:white;
}
.nav-img{
    width: 280px;
}
#nav-item{
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: 'Squada One', cursive;
}
#nav-item:hover{
    color: crimson;
}
#icon{
    color: black;
}
#icon:hover{
    color: crimson;
}
.titel{
    font-weight: 800;
    font-family: 'Potta One', cursive;
}
span{
    color: crimson;
}
/* navber style and banner */

/* shoes style */
#shoes{
    background-color: gainsboro;
    border-radius: 20px;
    box-shadow:2px 2px 10px black;
}
.Third-shoe{
padding-top: 50px;

}
.Third-shoe img{
    width: 85%;
}
.pricing{
    font-weight: 600;
}
#pricing-op{
    border-radius: 10px;
    background-color: crimson;
    font-weight: 600;
}
#pricing-op:hover{
    color: black;
    background-color: white;
}
#formal{
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}
/* shoes and formal style */



/* AboutUs */
#About{
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
.busket img{
    width: 90%;
    margin-left: 50px;
}
/* AboutUs */

 /* feedback */

 #Feedback{
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    border-radius: 15px;
 }
 .hadding{
    font-family: 'Potta One', cursive;
 }
 #item{
     padding: 5% 15%;
     text-align: center;
 }
 .clint-img{
     width: 200px;
     height: 200px;
     border-radius: 50%;
 }


 /* feedback */

 /* formSection */
 .form-intro{
    font-family: 'Potta One', cursive;
}
.font{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
#form-bg{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 10px;
}
#form-bg:hover{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.contact-us{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 15px;
}
#Sub-res{
  color:whitesmoke;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
}
#Sub-res:hover{
    color: black;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
 /* formSection */

 /* footer */
 #follow-Us{
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
     height: 200px;
 }
 #follow-Us a{
     padding: 10px;
 }
 #facebook{
     color: blue;
 }
 #instagram{
     color:purple;
 }
 #twitter{
     color: lightskyblue;
 }
 #youtube{
     color: red;
 }
 #github{
     color: black;
 }
 /* footer */